.progress_bar {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
  position: relative;
}

._headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress_bar_2 {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
}
.card {
  transition: all 0.3s;
}
.card:hover {
  transform: scale(1.15);
}
